.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

.top .title {
    width: calc(100% - 10%);
    /* background-color: gray; */
    font-size: 36px;
    font-weight: bolder;
    padding: 24px;
    /* color: white; */
    text-align: center;
    border-radius: 6px;
}

.top .play {
    width: 350;
    height: 100px;
}

.top .play input {
    padding: 5px;
    border: none;
    outline: 2px solid blue;
    border-radius: 6px 0 0 6px;
}

.top .play button {
    padding: 5px;
    border-radius: 0 6px 6px 0;
    border: 2px solid rgb(28, 30, 54);
    font-weight: 600;
    background-color: gray;
    color: white;
}

.box {
    height: calc(100vh - 20vh);
    width: calc(100vh - 20vh);
    background-color: gray;
    border-radius: 6px;
    position: relative;
    display: block;
    margin-bottom: 100px;
}

.player1 {
    display: none;
    position: absolute;
    width: 80%;
    height: 10%;
    background-color: aqua;
    left: 10%;
    bottom: 0;
}

.player2 {
    display: none;
    position: absolute;
    top: 0;
    width: 80%;
    height: 10%;
    background-color: aqua;
    left: 10%;
    flex-direction: row-reverse;
}

.player3,
.player4 {
    display: none;
    position: absolute;
    width: 10%;
    height: 80%;
    background-color: aqua;
    top: 10%;
}

.player3 {
    left: 0;
    flex-direction: column;
}

.player4 {
    right: 0;
    flex-direction: column-reverse;

}


.player1 button,
.player2 button {
    height: 100%;
    width: calc(100% - 7.6%);
}

.player1 button:hover,
.player2 button:hover,
.player3 button:hover,
.player4 button:hover {
    background-color: yellow;
}

button.pass {
    background-color: red;
    color: white;
    text-transform: capitalize;
    font-weight: 700;
}

button.pass:hover {
    background-color: rgb(214, 1, 1);
}

.player3 button,
.player4 button {
    min-width: 100%;
    height: calc(100% - 7.6%);
    /* height: 10px; */
}

.choise {
    transform: perspective(800px) rotateY(180deg);
    backface-visibility: hidden;
}

button.dice{
    display: none;
    position: absolute;
    border: none;
    top: 50%;
    left: 50%;
    font-size: 90px;
    background-color: transparent;
    transform: translate(-50%, -50%);
}

.picked {
    background-color: darkgray;
}