body {
    background-image: url('../../img/background.jpg');
}


.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

.top .title {
    width: calc(100% - 10%);
    font-size: 36px;
    font-weight: bolder;
    padding: 24px;
    color: white;
    text-align: center;
    border-radius: 6px;
}

.top .play {
    width: 350;
    height: 100px;
}

.top .play input {
    padding: 5px;
    border: none;
    outline: 2px solid blue;
    border-radius: 6px 0 0 6px;
}

.top .play button {
    padding: 5px;
    border-radius: 0 6px 6px 0;
    border: 2px solid blue;
    font-weight: 600;
    background-color: blue;
    color: white;
    transition: all 0.5s;
}

.top .play button:hover {
    box-shadow: 0 0 5px 2px white;
}

.box {
    height: calc(100vh - 20vh);
    width: calc(100vh - 20vh);
    background-image: url('../../img/background2.webp');
    background-size: contain;
    border-radius: 6px;
    position: relative;
    display: block;
    margin-bottom: 100px;
    backdrop-filter: blur(6px);
    box-shadow: 0 0 5px 6px rgba(0, 0, 0, 0.582);
    color: white;
    perspective: 800px;
}

.player1,
.player2 {
    display: none;
    position: absolute;
    width: 80%;
    height: 10%;
    left: 10%;
}

.player1 {
    bottom: 0;
}

.player2 {
    top: 0;
}

.player3,
.player4 {
    display: none;
    position: absolute;
    width: 10%;
    height: 80%;
    top: 10%;
}

.player3 {
    left: 0;
    flex-direction: column;
}

.player4 {
    right: 0;
    flex-direction: column;

}

.player1 button,
.player2 button {
    height: 100%;
    width: calc(100% - 7.6%);
    border-radius: 5px;
    transition: all 0.5s ease;
    transform-style: preserve-3d;
    box-shadow: 0 0 0px 0px black;
}


.player1 button:hover {
    box-shadow: 0 10px 6px 0px black;
    background-color: yellow;
    transform: translateY(-10px);
}

.player2 button:hover {
    box-shadow: 0 -10px 6px 0px black;
    background-color: yellow;
    transform: translateY(10px);
}

.player3 button:hover {
    box-shadow: -10px 0 6px 0px black;
    background-color: yellow;
    transform: translateX(10px);
}

.player4 button:hover {
    box-shadow: 10px 0 6px 0px black;
    background-color: yellow;
    transform: translateX(-10px);
}

button.pass {
    background-color: red;
    color: white;
    text-transform: capitalize;
    font-weight: 700;
}

button.pass:hover {
    background-color: rgb(214, 1, 1);
}

button.pass.picked-hold:hover {
    transform: none !important;
    box-shadow: none !important;
    cursor: default;
}

.player3 button,
.player4 button {
    min-width: 100%;
    height: calc(100% - 7.6%);
    border-radius: 5px;
    transition: all 0.5s ease;
    transform-style: preserve-3d;
    box-shadow: 0 0 0px 0px black;
}

.choise {
    transform: perspective(800px) rotateY(180deg);
    backface-visibility: hidden;
}

button.dice {
    display: none;
    position: absolute;
    border: none;
    top: 50%;
    left: 50%;
    font-size: 90px;
    background-color: transparent;
    transform: translate(-50%, -50%);
}

.picked {
    background-color: yellowgreen;
}

.picked-hold {
    background-color: darkgray !important;
}

.box .dice {
    font-size: 75px;
    color: black;
    padding: -10px;
    transition: all .5s ease-in-out;
}

.box .dice1:hover {
    font-size: 90px;
}

.box .dice2:hover {
    font-size: 90px;
}

.notif {
    color: white;
    text-shadow: 0 0 10px red;
}

#player {
    border: none;
    background-color: rgb(0, 0, 165);
    padding: 6px 18px;
    border-radius: 6px;
}

#player:hover {
    box-shadow: 0 0 12px 3px rgb(160, 160, 255);
}

.play h3 {
    text-align: center;
    color: white;
}