body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 80px;
    text-align: center;
    margin: 10px;
}

.container {
    width: 620px;
    margin: auto;
    /* border: 2px solid black; */
}
.grid{
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    float: left;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
}
.black {
    background-color: #262626;
}

.white {
    background-color: #D9D9D9;
}

.infantriB {
    width: 100%;
    height: 100%;
    background-image: url(../../img/InfBlue.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.infantriR {
    width: 100%;
    height: 100%;
    background-image: url(../../img/InfRed.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.archerB {
    width: 100%;
    height: 100%;
    background-image: url(../../img/ArcBlue.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.archerR {
    width: 100%;
    height: 100%;
    background-image: url(../../img/ArcRed.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.cavalryB {
    width: 100%;
    height: 100%;
    background-image: url(../../img/CavBlue.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.cavalryR {
    width: 100%;
    height: 100%;
    background-image: url(../../img/CavRed.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.health-bar {
    position: sticky;
    top: 40px;
    height: 10px;
    width: 50px;
    background-color: #12bd18;
}

.moveable.black {
    background: #139118;
}
.moveable.white {
    background: #6DEB72;
}
.attack-range.black {
    background: #902828;
}
.attack-range.white {
    background: #EA8181;
}

.dice-box{
    position: fixed;
    left: 10px;
    top: 50%;
    border: 2px solid #000;
    padding: 10px; 
    z-index: 999;
}
.dice {
    text-align: center;
    display: inline-block;
    margin: 10px;
    width: 100px;
    height: 100px;
}