* {
    margin: 0;
    padding: 0;
}
#board-container {
    background-color: rgb(255, 255, 255);
    margin: 1rem auto;
}

#board-container section {
    display: flex;
    width: max-content;
}

#board-container input {
    width: 50px;
    height: 50px;
    border: 0.1px solid black;
}
